[submodule "gerry"]
	path = gerry
	url = https://github.com/a9lim/gerry.git
[submodule "geon"]
	path = geon
	url = https://github.com/a9lim/geon.git
[submodule "shoals"]
	path = shoals
	url = https://github.com/a9lim/shoals.git
[submodule "cyano"]
	path = cyano
	url = https://github.com/a9lim/cyano.git
